<div>
    <mat-card style="width:50%; margin:auto; text-align:center; margin-bottom:10px" [ngStyle]="todo?.completed ? {'text-decoration': 'line-through'} : null">
        <p>{{todo?.task}} -- {{todo?.completed === true ? 'Completed' : 'Not Completed'}}</p>
        <button mat-stroked-button color="accent" style="padding:5px;" *ngIf="!todo?.completed" (click)="completeTask()"><mat-icon>check_circle_outline</mat-icon></button>
        <button mat-stroked-button color="accent" style="padding:5px;" (click)="removeTask()"><mat-icon>delete_forever</mat-icon></button>
    </mat-card>
</div>